PORT=5000
MONGO_URI=mongodb://abdullahakram9112_db_user:abdullah@ac-05yqmkg-shard-00-00.badnvia.mongodb.net:27017,ac-05yqmkg-shard-00-01.badnvia.mongodb.net:27017,ac-05yqmkg-shard-00-02.badnvia.mongodb.net:27017/ats_db?ssl=true&replicaSet=atlas-4ii5lt-shard-0&authSource=admin&retryWrites=true&w=majority

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email (Gmail SMTP)
EMAIL_USER=abdullahakram9112@gmail.com
EMAIL_PASS=your_gmail_app_password

# Frontend URL
CLIENT_URL=http://localhost:5173


